In [1]:
import pandas as pd
import numpy as np

In [2]:
citybike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citybike_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
citybike_df = citybike_data.copy()

In [4]:
citybike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [5]:
citybike_df['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [6]:
citybike_df['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [7]:
citybike_df['start station id'].mode()[0]

281.0

In [8]:
citybike_df['bikeid'].mode()[0]

33887

In [9]:
mode_usertype = citybike_df['usertype'].mode()[0]
count_mode_user = citybike_df[citybike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citybike_df.shape[0], 2))

0.77

In [10]:
round(citybike_df['usertype'].value_counts(normalize=True), 2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [11]:
citybike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [12]:
male_count = citybike_df[citybike_df['gender'] == 1].shape[0]
female_count = citybike_df[citybike_df['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

In [13]:
citybike_df['start station id'].value_counts().count() != citybike_df['end station id'].value_counts().count()

True

In [14]:
citybike_df['birth year'].max()

2002

In [15]:
citybike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [16]:
citybike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [17]:
citybike_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [18]:
citybike_df = citybike_df.drop(['start station id', 'end station id'], axis=1)

In [19]:
citybike_df['age'] = 2018 - citybike_df['birth year']
citybike_df.drop(['birth year'], axis=1, inplace=True)
citybike_df[citybike_df['age'] > 60].shape[0]

11837

In [20]:
citybike_df['starttime'] = pd.to_datetime(citybike_df['starttime'])
citybike_df['stoptime'] = pd.to_datetime(citybike_df['stoptime'])
citybike_df['trip duration'] = (citybike_df['stoptime'] - citybike_df['starttime'])
citybike_df.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

In [23]:
weekend = citybike_df['starttime'].dt.day_of_week
citybike_df['weekend'] = weekend.apply(lambda x: 1 if x==5 or x==6 else 0)
citybike_df['weekend'].sum()

115135

In [24]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citybike_df['time_of_day'] = citybike_df['starttime'].dt.hour.apply(get_time_of_day)
citybike_df['time_of_day']

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [25]:
a = citybike_df[citybike_df['time_of_day'] == 'day'].shape[0]
b = citybike_df[citybike_df['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9